:root {
	--black:#000000;
    --white: #ffffff;
    --white-15: rgb(255 255 255 / 15%);
    --white-25: rgb(255 255 255 / 25%);
    --white-50: rgb(255 255 255 / 50%);
    --white-60: rgb(255 255 255 / 60%);
    --white-70: rgb(255 255 255 / 70%);
    --white-75: rgb(255 255 255 / 75%);
    --white-80: rgb(255 255 255 / 80%);
    --white-90: rgb(255 255 255 / 90%);
    --heading: #2b2c2d;
    --body-text: #2b2c2d;
    --anchor: #002677;
    --anchor-hover: #2b2c2d;
    --dark: #25282A;
    --yellow: #ffb81c;
    --light-blue:#f2f4f8;
    --brandbook-gray: #b2b4b2;
    --brandbook-gray-light: #d2d2d2;
    --navy: #002677;
    --navy-light:#00277c; 
    --navy-dark:#00164d;
    --light-grey: #cacbcc;
    --dark-50: rgba(37, 40, 42, 0.5);
    --dark-70: rgba(37, 40, 42, 0.7);
    --button: #002677;
    --button-hover: #ffb81c;
    --grey-dim: rgba(37, 40, 42, 0.5);
	--yellow-gbtn:linear-gradient(90deg, #FFB400 0%, #FF9000 100%);
	--yellow-btn:#ffb81c;
	--yellow-btn-hover:#002677;
    --pinkish: #f9f3ef;
	
}