.intro-block-section{padding: 0 0 72px;}
.intro-block-main{gap: 72px 30px;}
.intro-list{flex: 0 0 calc(25% - 24px); }
.intro-img{margin-bottom: 27px;}
.intro-img img{border-radius: 20px;}
.intro-text-blc h3{font-family: 'Neue Haas Unica Pro', sans-serif; font-size: 1.5rem; font-weight: 800; line-height: 28px; margin-bottom: 10px; }
.intro-text-blc p{font-size: 1rem;}