.intro-module {clear: both; width: 100%; padding: 80px 0 80px; background: var(--white);}
.intro-main {clear: both; width: 100%; gap:4.6875%; justify-content: space-between;}
.intro-lt {max-width:394px; width: 100%;}
.intro-lt:only-child {max-width: 100%; flex-grow: 1;}
.intro-lt h2 {margin: 0;}
.intro-rt {flex: 1; font-weight: 500; font-size: 1.25rem; line-height: 1.4; letter-spacing: normal;}



/* Responsive */
@media only screen and (max-width:1023px) and (min-width:768px){
	.intro-lt {max-width:348px;}
}

@media only screen and (max-width: 767px) and (min-width:200px){
	.intro-module {padding: 30px 0;}
	.intro-main {gap:26px;}
	.intro-lt {max-width:100%;}
	.intro-rt {font-size: 1rem; line-height: 1.5; font-weight: bold;}
}