.locations-module {position: relative; clear: both; width: 100%; min-height: 541px; padding:111px 0 173px;}
.locations-module .container {position: relative;}
.locations-module .background-bg {width: 1556px; height: 739px; left: inherit; right:-394px; top:-137px;}
.locations-mwrap {display: flex; align-items: center; width: 100%;}
.locations-txt {max-width: 394px; width:100%;}
.locations-txt h2 {margin-bottom: 24px;}
.locations-txt p {font-size: 1.25rem; font-weight: 500; line-height: 1.4; margin-bottom: 23px;}

.phone-img {position: absolute; width: 241px; height: 178px; right:-61px; top: 0; display: block;}

/*-- media css starts here --*/
@media only screen and (max-width:1260px) {
    .locations-module .background-bg {right: -64%;}
    .locations-module .background-bg img {object-fit: cover; object-position: 0 0;}
}

@media only screen and (max-width:1023px) and (min-width:768px) {
    .locations-module .background-bg {right: -940px;}
}

@media only screen and (max-width:767px) and (min-width:200px) {
    .locations-mwrap {padding: 188px 0 33px; min-height: 582px; align-items: flex-end;}
    .locations-module {padding: 0;}
    .locations-module .background-bg {width: 100%; height: 100%; right: 0; bottom: inherit; top: 0;}
    .locations-module .background-bg img {object-fit: contain; object-position: center right;}
    .locations-module .container {position: static;}
    .locations-txt h2 {font-size: 2rem; line-height: 0.94;}
    .locations-txt {max-width: 77%;}
    .phone-img {display: none;}
    
}