.location-section{width: 100%; clear: both; position: relative;}
.location-wrap{padding: 80px 0 56px;}
.location-main{gap: 80px;}
.location-left { flex: 0 0 350px; }
.location-left h2{margin-bottom: 16px;}
.location-left p{font-size: 16px; font-weight: 400; margin-bottom: 40px;}
.response-team{padding: 24px 24px 24px; background-color: var(--light-blue); border-radius: 20px;}
.response-team .optional-text{color: var(--dark-70); letter-spacing: 0.7px; font-size: 0.875rem; font-weight: 700; font-family: 'Neue Haas Unica Pro', sans-serif; margin-bottom: 5px;}
.response-team .h4{margin-bottom: 10px;}
.response-team .phone-link{color: var(--dark); font-weight: 700; font-family: "Neue Haas Unica Pro", sans-serif; font-size: 1.5rem;}
.location-right{flex: 0 0 calc(100% - 430px);}
.location-rt{gap:60px  40px}
.location-list{flex: 0 0 calc(33.33% - 27px)}
.location-list span.dark-wt{font-size: 1.125rem; display: block; font-family: "Neue Haas Unica Pro", sans-serif; margin-bottom: 16px; font-weight: 700;}
.location-list p{font-size: 1rem; margin-bottom: 16px;}
.location-img{width: 56px; height: 56px; margin-bottom: 16px;}
.location-links{margin: 0;}
.location-links > li{margin-bottom: 0;}
.location-links > li a{font-size: 16px; font-weight: 700; font-family: "Neue Haas Unica Pro", sans-serif;}
.location-links > li a span{color: var(--dark);  }




@media only screen and (max-width:1150px) and (min-width:1024px) {
.location-main { gap: 64px; }
.location-left { flex: 0 0 300px; }
.location-right{flex: 0 0 calc(100% - 380px);}
.location-rt { gap: 40px 40px; }
.location-list { flex: 0 0 calc(50% - 20px); }

}
@media only screen and (max-width:1023px) and (min-width:200px) {
.location-main{display: block;}




}
@media only screen and (max-width:1023px) and (min-width:768px) {
.location-wrap{padding: 64px 0;}
.location-left{margin-bottom: 40px;}
.location-left p{margin-bottom: 20px;}
.response-team{width: fit-content;}
.location-list { flex: 0 0 calc(50% - 27px); }



}

@media only screen and (max-width:767px) and (min-width:200px) {
.location-wrap{padding: 45px 0;}
.location-left{margin-bottom: 26px;}
.location-left h2 {font-size: 3rem; margin-bottom: 16px; letter-spacing: normal;}
.location-rt{display: block;}
.location-list{width: calc(100% - 58px); margin-bottom: 45px;}
.location-list:last-child{margin-bottom: 0;}




}
