.repeater-section{clear: both; width: 100%; overflow: hidden;}
.repeater-main{padding: 80px 0 80px 0; display: flex; flex-wrap:wrap; gap:80px;}
.repeater-list {justify-content: space-between; gap:6.25%; line-height: 1.5; font-size: 1rem; align-items: center;}
.repeater-list:nth-child(2n) {flex-direction: row-reverse;}

.repeater-text{width: 46.875%; flex-grow: 1; color: var(--dark);}
.repeater-text .optional-text {text-transform: uppercase;}
.repeater-text .h2 {margin-bottom: 11px;}
.repeater-text ul, .repeater-text ol {margin:-7px 0 17px 24px;}
.repeater-text ul > li:before {width:4px; height:4px; top: 11px; left: -14px; background:var(--dark);}
.repeater-text .btn {padding:20px 0 0 0;}

.repeater-img{width: 46.875%; flex-grow: 1; max-height: 400px; height: 100%;}
.repeater-img figure img {border-radius: 40px;}



@media only screen and (max-width: 1023px) and (min-width: 200px) {
    .repeater-main {gap:64px;}
    .repeater-list {gap:0;}
    .repeater-img {width: 100%; height: 57.178vw;}
    .repeater-text {width: 100%; margin-top: 20px;}
}

@media only screen and (max-width: 767px) and (min-width: 200px) {
    .repeater-main {gap:40px; padding: 40px 0;}
	.repeater-img figure img {border-radius: 20px;}
    .repeater-text {margin-top: 16px;}
	
}