.table-section{padding: 80px 0 0;}
.table-section .mini-intro span.optional-text{margin-bottom: 10px;}
.table-section .mini-intro .h2{margin-bottom: 10px;}
.table-section .mini-intro p{font-size: 1.25rem;}
table{margin: 40px 0;}
