.testimonial-module {clear: both; width: 100%; background: var(--white); padding: 60px 0 70px;}
.testimonial-module .testimonial-slide {min-height: 780px;}

.testimonial-slide-wrap {position: relative; min-height: 780px;}
.testimonial-thumb {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: block; z-index: -1;}
.testimonial-thumb:after {content: ""; background-color: rgba(68, 68, 68, 0.3); width: 100%; height: 100%; display: block; left: 0; top: 0; position: absolute; border-radius: 20px;}
.testimonial-thumb img {border-radius: 20px;}

.testimonial-text {max-width: 660px; padding: 80px 88px; width: 100%; z-index: 1; color: var(--white); font-size: 2rem; font-weight: 500; line-height: 1.25; font-family: 'eb-garamond', sans-serif; font-style: italic;}
.testimonial-text p {position: relative;}
.testimonial-text:before {content: ""; position: relative; top: 0; left: 0; display:block; background: url("../images/quote.svg") 0 0 no-repeat; width: 53px; height: 38px; margin: 0 0 55px 0;}
.testimonial-text .author-info {width: 100%; clear: both; font-family: 'Neue Haas Unica Pro', sans-serif; font-style: normal;}
.testimonial-text .author-name {font-size: 1.25rem; font-weight: 800; line-height: 1;}
.testimonial-text .author-business {font-size: 1rem; font-weight: 500; font-style: italic; line-height: 1.25;}