@import url("_contact-form.css");
@import url("_location-section.css");

.contact-region-section{padding: 80px 0; background-color: var(--light-blue);}
.contact-region-wrap{gap: 52px;}
.contact-region-lt{flex: 0 0 350px;}
.contact-region-rt{flex: 1}
ul.region-links{margin: 0;}
ul.region-links li{font-size: 1rem; font-weight: 500;}
.contact-select-wrap{justify-content: space-between;}
.contact-select-wrap .h3{font-family: 'Neue Haas Unica Pro', sans-serif; font-weight: 800; font-size: 1.5rem; margin-bottom: 0;}
.contact-select-wrap .select-wrap{flex: 0  0 395px; background-color: var(--white); border-radius: 10px; color: var(--navy); font-size: 0.875rem; font-weight: 400; line-height: 18px;}

.contact-region-sales > .h6{color: var(--navy); font-weight: 700; text-transform: uppercase}
.contact-region-block{margin-bottom: 20px;}
.contact-region-block .h5{border-bottom: 1px solid rgba(0, 0, 0, 0.20); padding-bottom: 20px;}
.contact-region-sales-wrap{gap: 20px;}
.contact-region-sales-list{background-color: var(--white); border-radius: 10px; padding: 24px;}
.contact-region-sales-list .contact-sales-img{margin-bottom: 12px;}
.contact-region-sales-list .contact-sales-img img{width: 67px; height: 67px;}
.contact-region-sales-list .h6{margin-bottom: 0; font-size: 1.125rem; font-weight: 800; }
.contact-region-sales-list span{display: block; font-size: 1rem; font-weight: 400; opacity: 0.5; margin-bottom: 12px;}
.contact-region-sales-list .sales-link{font-size: 1rem; font-weight: 700;}
