@import url("_default-banner.css");
@import url("_intro-module.css");
@import url("_intro-block-section.css");
@import url("_video-wrap-section.css");
@import url("_request-section.css");
@import url("_repeater-section.css");
@import url("_featured-res-module.css");
@import url("_contact-form.css");
@import url("_signup-module.css");
@import url("_brochure-section.css");
@import url("_table-section.css");
@import url("_testimonial-module.css");

.default-banner-main {align-items: center; min-height: 600px}
.default-banner-main .default-banner-text {max-width: 538px;}
.default-banner-main .default-banner-text p {font-size: 1.25rem;}
.banner-bg:after{left: 0; top: 0; width: 100%; position: absolute; background-color: rgba(11, 11, 10, 0.5);opacity: 0.6; z-index: 1; height: 100%; display: block; content: ""; }


.contact-section{background-color: var(--tiny-gray);}
.intro-module{background-color: var(--brandbook-gray-light);}
.intro-block-section{background-color: var(--brandbook-gray-light)}
.intro-block-row{margin-bottom: 72px; gap: 72px 30px;}
.intro-block-row:last-child{margin-bottom: 0;}
.request-section{background-color: var(--brandbook-gray-light);}

ul.slick-dots li button {background-color: var(--white); opacity: 1;}
ul.slick-dots li.slick-active button {
  opacity: 0.3;
}



@media only screen and (max-width: 1023px) and (min-width:200px){
   .intro-block-row .slick-track{display: flex; gap: 30px}
    .intro-block-row .slick-list{overflow: inherit;}
    .testimonial-module { padding: 40px 0; }
     .repeater-main {padding: 40px 0 64px;}

}