@import url("_split-banner-section.css");
@import url("_intro-module.css");
@import url("_intro-block-section.css");
@import url("_repeater-section.css");
@import url("_featured-res-module.css");
@import url("_signup-module.css");


.main_header{background-color: var(--pinkish);}
.intro-module{background-color: var(--brandbook-gray-light);}
.intro-block-section{background-color: var(--brandbook-gray-light);}

.repeater-section.row-reverse .repeater-list{flex-direction: row-reverse;}
ul.slick-dots{display: none!important;}





@media only screen and (max-width: 1023px) and (min-width: 200px) {
  .intro-block-section {
    padding: 0px 0 40px;
  }
}