@import url("_default-banner.css");
@import url("_intro-module.css");
@import url("_video-wrap-section.css");
@import url("_features-module.css");
@import url("_repeater-section.css");
@import url("_request-section.css");
@import url("_testimonial-module.css");
@import url("_cta-module.css");
@import url("_featured-res-module.css");
@import url("_signup-module.css");

.default-banner-section .banner-bg:after{left: 0; top: 0; width: 100%; position: absolute; background-color: rgba(30, 32, 34, 0.5); z-index: 1; height: 100%; display: block; content: ""; }
.default-banner-main {min-height:780px; align-items: center;}
.default-banner-main .default-banner-text {max-width: 627px;}
.default-banner-main .default-banner-text p {font-weight: 400; margin-bottom: 23px;}

/* Intro */
.intro-lt {max-width: 597px;}
.intro-rt {padding-right:67px; font-weight: 800; font-size: 1.125rem; line-height: 1.56;}

.sec-wrap {padding: 80px 0; clear: both; width: 100%; background: var(--mgrey); display: flex; flex-wrap: wrap; gap: 40px; justify-content: center;}
.sec-wrap .sf-head {text-align: center; max-width: 800px; margin:0 auto 48px auto;}
.sec-wrap .sf-head h2 {margin-bottom: 18px;}
.sec-wrap .sf-head p {font-size: 1.25rem; font-weight: 700; line-height: 1.4;}
.sec-wrap .request-section {padding: 0; clear: both; width: 100%;}
.sec-wrap .sf-video-slide .video-img {width: 100%; clear: both;}
.sec-wrap .video-img::after {border-radius: 20px;}

.sec-wrap .sf-lists {display: flex; flex-wrap: wrap; width: 100%; gap:40px 3.125%; justify-content: center;}
.sec-wrap .sf-list {width: 31.25%; display: inline-block; text-align: center; background: var(--white); border-radius: 10px; border: solid 3px transparent;}
.sec-wrap .img-based .sf-list:first-of-type {background: transparent; border: solid 3px var(--yellow);}
.sec-wrap .img-based .sf-list:first-of-type p {color: var(--dark);}
.sec-wrap .img-based .sf-list:first-of-type h4 {color: var(--dark);}

.sec-wrap .sf-list .sf-grid {padding:22px 30px 24px 30px;}
.sec-wrap .sf-list h4 {color: var(--navy); font-weight: 700; margin-bottom: 14px;}
.sec-wrap .sf-list p {font-size: 1.25rem; line-height: 1.4; color: var(--navy);}

.sf-section-wrap {display: flex; flex-wrap: wrap; gap:40px;}

/* Slider */
.sec-wrap .sf-for {width: 100%; clear: both;}
.sec-wrap .sf-nav .slick-track {display: flex; flex-wrap: wrap; gap:40px;}
.sec-wrap .sf-nav .sf-list{width: 400px;}
.sec-wrap .sf-nav .sf-list.slick-current.slick-active {background: transparent; border: solid 3px var(--yellow);}
.sec-wrap .sf-nav .sf-list.slick-current.slick-active p {color: var(--dark);}
.sec-wrap .sf-nav .sf-list.slick-current.slick-active h4 {color: var(--dark);}

/* Responsive */
@media only screen and (min-width:1024px) {

}

@media only screen and (max-width:1023px) and (min-width:768px){
	.stats-lt {max-width:348px;}
}

@media only screen and (max-width: 767px) and (min-width:200px){
    .sec-wrap .sf-list {width: 100%;}
}
