@import url("_default-banner.css");
@import url("_intro-module.css");
@import url("_features-module.css");
@import url("_repeater-section.css");
@import url("_request-section.css");
@import url("_testimonial-module.css");
@import url("_cta-module.css");
@import url("_featured-res-module.css");
@import url("_signup-module.css");

.default-banner-main {min-height:780px; padding: 165px 0;}
.default-banner-main .default-banner-text {max-width: 627px;}
.default-banner-main .default-banner-text p {font-weight: 400; margin-bottom: 23px;}

.sec-wrap {padding: 80px 0; clear: both; width: 100%; background: var(--mgrey);}
.sec-wrap .request-section {padding: 0;}

/* Responsive */
@media only screen and (min-width:1024px) {

}

@media only screen and (max-width:1023px) and (min-width:768px){
	.stats-lt {max-width:348px;}
}

@media only screen and (max-width: 767px) and (min-width:200px){

}
